:root {
  --primary-text: 'Helvetica Neue';
  --secondary-text: 'sans-serif';
  --primary-font-size: 16px;
  --primary-font-weight: 400;
  --primary-line-height: 20px;
  --primary-letter-spacing: 0.02em;

  --primary-text-color: grey;
  --secondary-text-color: black;
  --accent-color: white;

  --secondary-background-color: black;
}

body {
  font-family: var(--primary-text), var(--secondary-text) ;
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}